<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<html>
    <body style = 'background-color: darkkhaki;'>
        <br>
        <br>
        <div class="container text-left" style="background-color: azure;">
            <br>
            <h1>About</h1>
            <br/>
            <p><h6><i>This providers user to create password on providing the input and getting <u>random</u> and <u>unique</u>.It is one of the fastest way to create password during time of Login.It comprises of Django and Python code and for web development we make use of HTML,CSS and Bootstrap.</i></h6></p>
            <br>
            <br>
            <a href="{%url 'home'%}" class="btn btn-success">Home</a>
        </div>
    </body>
</html>