<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<html>
    <body style="background-color:blanchedalmond;">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container text-center" style="background-color: khaki;">
            <h1 style="color:mediumblue;">Password Generation</h1>

            <a href="{%url 'About' %}" class="btn btn-warning">About</a>
            <br/>
            <br/>
            <form action="password">
                <select name="length">
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12" selected = "selected">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                </select><b> Length</b>
                <br/>
                <br/>
                <input type="checkbox" name="uppercase"><b>uppercase</b>
                <br/>
                <input type="checkbox" name="numbers"><b>numbers</b>
                <br/>
                <input type="checkbox" name="special"><b>special characters</b>
                <br/>
                <br/>
                <input type="submit" value="Generate Password" class="btn btn-primary">
            </form>
        </div>
    </body>
</html>
