<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<html>
    <body style="background-color:powderblue;">
        <div class="container text-center">
        <br>
        <br>
        <h1>Your password is:</h1>
        <h2 class="alert alert-warning">{{ password }}</h2>
        <a href="{%url 'home'%}" class="btn btn-success">Home</a>
    </div>
    </body>
</html>


<!-- <form action="generatedpassword">
    <select name="length">
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select>

    <input type="submit" value="Generate Password">
</form> -->

<!-- {{ password }} -->


<!-- def home(request):
    return render(request, 'generator/home.html', {'password':'di85rcswv'}) -->
